# Python / Virtual Environment
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Environment variables & secrets
.env

# Data & Output cache
*.log
*.sqlite3
.pytest_cache/
.coverage
htmlcov/

# OS Specific
.DS_Store
Thumbs.db